@font-face {
    font-family: lyonBold;
    src: url(./resources/lyon-bold.ttf);
}

@font-face {
    font-family: lyonItalic;
    src: url(./resources/lyon-italic.ttf);
}

@font-face {
    font-family: gordita;
    src:url(./resources/gordita.otf);
    font-weight: bold;
}


#menu {
    position: fixed;
    right:35px;
    top:0;
}

body {
    background-color: #d0e1db;
    background-image: url(./resources/background-texture2.jpg);
}

a {
    text-decoration: none;
}

#banner {
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    font-size: 2em;
}

#profileImg {
    border-radius: 50%;
    width: 25%;
    height: 25%;
    border: medium white;
}

#banner h1 {
    color: #ffffff;
}

#banner p {
    color: #ffffff;
}

a:hover {
    color: gray;
}

h1 {
    color: #2653d1;
    font-family: gordita;
}

h3 {
    color: #e9147c;
    font-family: lyonBold;
    font-size: 1.5em;
}

p {
    color: #000000;
    font-family: Baskerville;
    font-size: 1.2em;
}

li {
    color: #00424c;
    font-family: Baskerville;
    list-style: none;
}

#skills li{
    font-size: 1.2em;
}

#projects ul{
    padding: 0;
}

#projects ul li {
    font-size: 1em;
    text-align: center;
    list-style-type: none;
    width: 33%;
    float: left;
}

#content {
    margin: auto;
    width: 75%;
    box-shadow: 0 0 20px #000000;
    padding: 10px 20px 10px 20px;
    background-color: #ffffff;
    background-image: url(./resources/watercolor-background.jpg);
    background-repeat: no-repeat;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    background: #fff;
    background: -o-linear-gradient(#fff, #999);
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 1px 1px 3px #000;
}

#skills li {
    margin-top: 30px;
    margin-bottom: 30px;
}

#aboutMe, #skills, #projects, #contact {
    padding-top: 20px;
    overflow: auto;
}

.menuImg {
    width: 65px;
    position: relative;
}

#aboutMenu {
    left: 53px;
    top: 40px;
    position: absolute;
    color: #ffffff;
}

#skillsMenu {
    text-align: center;
    left: 45px;
    top: 101px;
    position: absolute;
    color: #ffffff;
}

#languages, #experience {
    width: 50%;
    float: left;
}

#projectsMenu {
    left: 50px;
    top: 177px;
    position: absolute;
    color: #ffffff;
}

#contactMenu {
    left: 48px;
    top: 247px;
    position: absolute;
    color: #ffffff;
}

#resumeMenu {
    left: 48px;
    top: 316px;
    position: absolute;
    color: #ffffff;
}

#aboutMenu:hover, #skillsMenu:hover, #projectsMenu:hover, #contactMenu:hover, #resumeMenu:hover {
    color: #e2e2e2;
}

#contactLinks {
    display: table;
    margin: 0 auto;
}

.section {
    text-align: center;
}

.close:hover { background: #00d9ff; }